<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dogSpace">
    <!--二级缓存-->
    <cache readOnly="true" size="1024"/>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mybatis.`dog`
        VALUE (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>
</mapper>