<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentSpace">

    <cache eviction="LRU" readOnly="true" size="1024"/>

    <sql id="cols">`id`, `name`, `gender`, `age`, `info`</sql>

    <insert id="insert" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mybatis.`student` (<include refid="cols"/> )
        VALUE (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <insert id="insertWithSelectKey">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            SELECT last_insert_id()
        </selectKey>


        INSERT INTO mybatis.`student` (`id`, `name`, `gender`, `age`, `info`)
        VALUES (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <select id="findOneById" resultType="student">
        SELECT `id`, `name`, `gender`, `age`, `info`
        FROM mybatis.`student`
        WHERE `id` = #{id}
    </select>

    <select id="findLikeName" resultType="student">
        SELECT `id`, `name`, `gender`, `age`, `info`
        FROM mybatis.`student`
        WHERE `name` like "%"#{name}"%"
    </select>

    <update id="updateById">
        UPDATE mybatis.`student`
        SET `name` = #{name},
            `age` = #{age},
            `gender` = #{gender},
            `info` = #{info}
        WHERE `id` = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM mybatis.`student`
        WHERE `id` = #{id}
    </delete>

</mapper>